.footer-container{
    background-color: #332C2B;
    color: #FFFAEE;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-logo{
    height: 100px;
}
.footer-text{
    font-size: 14px;
    margin: .3rem 0;
}
.powered{
    margin-top: .6rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.powered-by{
    font-size: 12px;
    margin: 8px 0;
}
.powered-by-name{
    font-size: 10px;
    margin-bottom: 5px;
}
.fa-github{
    margin-right: 5px;
    color: #E83323;
}
a{
    text-decoration: none;
    color: #FFFAEE;

}
@media(max-width:900px){
    .f-logo{
        height: 70px;
    }
    .footer-text{
        font-size: 12px;
        margin: .3rem 0;
    }
    .powered{
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media(max-width:700px){
    .f-logo{
        height: 60px;
    }
}