.footer-container{
    display: flex;
    flex-direction: column;
    background-color: #332C2B;
    height: 180px;
}

.footer{
    width: 100%;
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 49px;
    
}
.footer-text{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #FFFAEE;
margin: 2px 0;
}

.f-logo{
    width:6rem;
}
.powered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.powered-by{
    color: #ba0f00;
    text-decoration: none;
}
.powered-by-name{
    margin: 2px 0;
}
.powered-by-name a{
    color: #cecdc9;
    text-decoration: none;
    cursor: pointer;
}
.fa-github{
    margin-right: 6px;
}
