@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


#nav-bar {
    background-color: #332C2B;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#menuToggle {
    display: block;
    position: relative;
    z-index: 1;

}



#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -2px;
    left: -2px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

.hamburguer-container {
    padding: 15px;
    z-index: 5;
    margin-top: 2px;
    margin-left: 3px;

}
.hamburguer-container span{
    height: 2px;
    width: 25px;
    color: #ffffff;
    background-color: #ffffff;
    display: block;
    margin-bottom: 3px;
    border-radius: 2px;
   

}



#menu {
    position: absolute;
    width: 380px;
    margin: -52px 0 0 -20px;
    padding-top: 70px;
    
    height: 100vh;

    background: #929292;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}



/* #menuToggle input:checked~.hamburguer-container {
    opacity: 0;
} */

#nav-bar-logo {
    width: 50px;
    height: 25px;
    margin-top: 12px;
    margin-right: 110px;
}
.nav-bar-to-right{
    margin-right: 5px;
}

#exit-menu {
    position: absolute;
    margin-left: 290px;
    z-index: 2;
    font-size: 25px;
    display: block;
    width: 30px;
    height: 30px;
    color: aliceblue;
    background-color: #232323;
    text-align: center;
    border-radius: 20px;
    /* display: none; */
    
    
    /* margin-bottom: 5px;
    background: #cdcdcd;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease; */
}

/* #menuToggle:checked+#menuToggleLabel #exit-menu {
    opacity: 1;
    
    background: #232323;
} */

#side-menu-line {
    display: block;
    margin-bottom: 3px;
    margin-left: 70px;
    position: relative;
    height: 4px;
    color: white;
    margin-left: 150px;
    width: 230px;
    margin-bottom: 40px;
    margin-top: 40px;
    background: #ffffff;
    border-radius: 1px;

    z-index: 2;

    /* transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease; */
}

/* #menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
 */


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
/* #menuToggle input:checked~.hamburguer-container span {
    opacity: 1;
    transform: rotate(45deg) translate(-5px, -6px);
    background: #232323;
}
 */
/*
  * But let's hide the middle one.
  */
/* #menuToggle input:checked~.hamburguer-container:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
 */
/*
  * Ohyeah and the last one should go the other direction
  */
/* #menuToggle input:checked~.hamburguer-container:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
} */


#menu li {
    margin-left: 120px;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    font-weight: 800;
}

#menuToggleLabel {
    cursor: pointer; /* Add a pointer cursor to indicate clickability */
    position: absolute;
    margin-left: 20px; /* Adjust as needed */
    z-index: 2;
    font-size: 25px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: aliceblue;
    background-color: #232323;
    text-align: center;
    border-radius: 20px;
    display: none;
}
 





#menuToggle:checked ~ #menuToggleX {
    /* Add styles for the checked state */
    opacity: 1;
    background: #232323;
    display: block;    
    
}
#menuToggle input:checked ~ #menuToggleLabel {
    /* Add styles for the checked state */
    opacity: 1;
    background: #232323;
    display: block;   
    cursor: pointer; /* Add a pointer cursor to indicate clickability */
    position: absolute;
    margin-left: 20px; /* Adjust as needed */
    z-index: 2;
    font-size: 25px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: aliceblue;
    background-color: #232323;
    text-align: center;
    border-radius: 20px; 
    
}

 #menuToggleLabel:checked{ 
    background: #232323;
    display: block;
}



/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}


#menu a li{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}
#menu a li:hover{
    text-decoration: none;
    color: tomato;
    transition: color 0.3s ease;
}
#menu a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

.nav-bar-to-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}

.nav-bar-to-left {
    display: flex;
}

#nav-lang {
    color: rgb(155, 155, 155);
    margin-top: 15px;
}