.nav-bar{
    background-color: #332C2B;
    height: 48px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logo{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #CECDC9;
}
.btn-icon{
    width: 40%;
    display: flex;
    justify-content: space-around;
    color: #CECDC9;
}
.fa-globe{
    color: #FFFAEE;
}
.logo-nav{
    background-image: url(/img/_Logo/Size\ =\ L\,\ Variant\ =\ Small.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
}
@media(max-width:700px){
    .menu-logo{
        width: 10%;
    }
    .logo-nav{
        
    }
}