@import "react-slideshow-image/dist/styles.css";
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 90%;
}
.img-slide-skate{
    width: 100%;
    border-radius: 50px;
}
.each-slide-effect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each-slide-effect > .img-slide-skate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
  }
  .react-slideshow-container .default-nav{
    display: none;
  }

.may-you-like{
  margin: 10px 0;
}
  .description{
    margin-top: 10px;
  }
  /* SkatePage */
.main{
    display: flex;
    margin-top: 30px;
}
  .container-page{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 .buy{
  position: relative
 }

  #buy-button{
    border: 0px;
    height: 50px;
    min-width: 120px; /* Set a minimum width for the buttons */
    color: white;
    background-color: #E83323;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
  }

  #trash{
    position: absolute;
    top: 5px
  }

