.nav.default-nav{
    display: none;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.teste{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.each-slide-effect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.img-slide{
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
    color: #151212;
    font-size: 32px;
}
.sub-title{
    color: #151212;
    text-align: center;
    margin: .5rem 0;
    font-size: 16px;
}
.description-price{
    font-size: 20px;
    font-weight: 800;
    color: orangered;
    cursor: pointer;
}

.description-blog{
    width: 270px;
    font-size: 13px;
    font-weight: 400;
    color: #151212;
}


@media(max-width:900px){
    .sub-title{
        font-size: 15px;
    }
    .description-price{
        font-size: 16px;

    }
}
@media(max-width:700px){
    .sub-title{
        font-size: 13px;
    }
}