.header-container{
    padding-bottom: 16px;
    width: 100%;
}
.slide-buttons-container {
    padding: 16px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-red {
    background-color: #E83323;
    color: #FFFAEE;
    border-radius: 8px;
    padding: 10px 18px;
    border: none;
    margin: 0 4px;
}

.hero-container {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-slide {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.80);
}
.hero-text{
    font-size: 17px;
    color: #FFFAEE;
    font-weight: 700;
}
.text-h2{
    margin-bottom: 10px;
} 
@media(max-width:900px){
    
}
@media(max-width:700px){
    .hero-container {
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}